# temporaries
*~
*.swp
\#*\#

# executables
feyn
feyn-prof
feynopt
feynver

# folders
dist/
.cabal-sandbox/
tmp/

# misc
TAGS
cabal.sandbox.config
Setup*
!Setup.hs

# haskell
dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
